{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Usuario</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <script src="{% static 'Admin.js' %}"></script>
</head>
     <body>         
       <center>
          <h1> <font color="#D68910"></font></h1>
          <br> 
      <h2>    </h2> 
          <br> 

          <!-- Se realiza un IF con el diccionario de la vista para preguntar si la tabla tiene Trabajadores, datos-->
          {% if DatosT %}
             <table border="1" width="50%">
               <caption><b><font color="#D68910">Datos Cliente</font></b></caption >
               <tr>
                  <th>ID</th>
                  <th>Usuario</th>
                  <th>Contraseña</th> 
                  <th>Telefono</th>
                  <th>Email</th>                                 
               </tr>
               
              {% for cl in DatosT %}
               <tr>
                  <td>{{ cl.id }}</td>  
                  <td>{{ cl.Usuario }}</td>
                  <td>{{ cl.Contraseña }}</td> 
                  <td>{{ cl.Telefono }}</td>
                  <td>{{ cl.Email }}</td>               
               </tr>
               <tr>
                
                <td>
                    <a href="{% url 'ActulizarCL' cliente_id=cl.id %}">Actualizar</a>
                </td>
                <td>
                    <form method="POST" action="{% url 'EliminarCL' cl.id %}">
                        {% csrf_token %}
                        <button onclick="confirmarEliminacion({{ cl.id }})">Eliminar</button>
                    </form>
                </td>

              {% endfor %}
              
            </table
            
         {% else %}               
             <h3><b><font color="#D68910">La Tabla No Tiene Datos JN ... !!!</font></b></h3>    
         {% endif %}         
     </center> 


    <!-- Formulario para agregar productos -->
    <section class="formulario">
        <h2>Agregar Producto</h2>
        <form id="formularioProducto">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" required>
            
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" required></textarea>
            
            <label for="precio">Precio:</label>
            <input type="number" id="precio" required>
            
            <label for="imagen">URL de la Imagen:</label>
            <input type="url" id="imagen" required>

            <button type="button" onclick="agregarProducto()">Agregar Producto</button>
        </form>
    </section>

    <!-- Lista de productos existentes -->
    <section class="productos">
        <h2>Lista de Productos</h2>
        <ul id="listaProductos">
            <!-- Aquí se mostrarán los productos existentes -->
        </ul>
    </section>

     <button><a href="{% url 'Inicio' %}">Volver al Inicio</a></button>
  </Body>
  <script>
    function confirmarEliminacion(clienteId) {
    if (confirm("¿Estás seguro de que deseas eliminar este cliente?")) {
        fetch(`/eliminar/${clienteId}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.reload(); // Recargar la página después de eliminar el cliente
            } else {
                console.error('Error al eliminar el cliente');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}
  </script>
</html>