.body{
    background-color: #ebe0cb;
}

#barrasup{
    border: solid 1px rgb(9, 179, 151);
    border-radius: 10px;
}

#texto{
    position: relative;
    top: 70px;
    font-size: 25px;
    padding-left: 10px;
    font-style:normal
}

#inicioS{
    display: inline-block;
    background-color: rgb(0, 253, 253);
    
}

#botonesI{
    background-color: aquamarine;
    border-radius: 5px;
    color: rgb(255, 0, 0);
}

#guia{
    display: inline-flex;
    width: 30.33%;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
    


}

.logo{
    height: 50px;
    width: 60px;
}

.niñocolor{
    background-color: rgb(201, 185, 143);
    width: 1px;
    height: 25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    
}

.niñocolor:hover{
    background-color: rgb(201, 185, 143);
    width: 1px;
    height: 25px;
    border-radius: 10px;
    color: rgb(80, 56, 11); 
}



.adultocolor{
    background-color: rgb(168, 154, 119);
    height: 25px;
    border-radius: 10px;
    color: rgb(230, 230, 230);
}

.adultocolor:hover{
    background-color: rgb(168, 154, 119);
    height: 25px;
    border-radius: 10px;
    color: rgb(80, 56, 11); 
}

.adultoMcolor{
    background-color: rgb(138, 126, 97);
    height: 25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.adultoMcolor:hover{
    background-color: rgb(138, 126, 97);
    height: 25px;
    border-radius: 10px;
    color: rgb(80, 56, 11); 
}

#cajatitulo{
    background-color: #ebe0cb;
    height: 100%;
    width: 100%;
}

#titulo{
    background-color: #ebe0cb;
    text-align: center;
    color: rgb(128, 84, 3);
    width: 500px;
    height: 57px;
    border-radius: 10px;
    position: relative;
    left: 180px;
    font-size: 45px;
    border: solid 1px black;
}
#btnbarra{
    border-radius: 5px;
    border-color: cyan;
    width: 25%;
}

#barraizq{
    width: 100%;
    display: inline-block;
    position: relative;
    top: 58px;
}

#barrader{
    width: 60%;
    display: inline-block;
    position: relative;
    left: 500px;
}

#barraopcion{
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 10px;
}

#imagenes{
    width: 120px;
    height: 120px;
    object-fit: cover;  /* ESTO PERMITE QUE LAS IMAGENES QUEDEN EN LA 
     DIMENSIONES DE WIDTH Y HEIGHT PERO BONITAS*/
    border: solid 2px rgb(6, 7, 8);
    border-radius: 4px;
}

#imagenesP{
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: inline-block;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 4px;
}

.carrito{
    width: 50px;
}

#seccionN{
    display: inline-block;
    width: auto;
    padding-left: 20px;
    padding-bottom: 10px;

}
  
#colorfondoN{
    background-color: rgb(201, 185, 143);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;

}

#colorfondoA{
    background-color: rgb(168, 154, 119);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#colorfondoAM{
    background-color: rgb(138, 126, 97);;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#seccionA{
    display: inline-block;
    width: auto;
    padding-left: 20px;
    padding-bottom: 10px;
}

#seccionAM{
    display: inline-block;
    width: auto;
    padding-left: 20px;
    padding-bottom: 10px;
}

#metodopago{
    display: inline-block;
    width: 20%;
    padding-left: 10px;
    border-top: 0px;
    padding-top: 0px;

}

#textoabajo{
    display: inline-block;
    width: 50%;
    text-align: top;
}

#recuadroA{
    border: solid 1px black;
}

#imagenesAbajo{
    width: 25px;
}

#SepAbajo{
    padding-bottom: 10px ;
}